@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* body {
  overflow: hidden; 
} */
/* #portal-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
